= form_for @space do |f|
  - if @space.errors.any?
    #error_explanation
      %h2= "#{pluralize(@space.errors.count, "error")} prohibited this space from being saved:"
      %ul
        - @space.errors.full_messages.each do |message|
          %li= message

  .field.md-form.form-group
    = f.label :title
    = f.text_field :title, :class => 'form-control'
  .field.md-form.form-group
    = f.label :name
    = f.text_field :name, :class => 'form-control'
  .field.md-form.form-group
    = f.label :description
    = f.text_area :description, :class => 'form-control'
  .field.md-form.form-group
    = f.label :published
    = f.check_box :published
  .field.md-form.form-group
    = tinymce_assets
    = tinymce
    :javascript
      document.addEventListener('turbolinks:load', function() {
        tinymce.init();
      });
    = f.label :content
    = f.text_area :content, :class => "tinymce", :rows => 40, :cols => 120
  .field.md-form.form-group
    = f.label :avatar
    = f.text_field :avatar, :class => 'form-control'
  .field.md-form.form-group
    = f.label :lat
    = f.text_field :lat, :class => 'form-control'
  .field.md-form.form-group
    = f.label :long
    = f.text_field :long, :class => 'form-control'
  .field.md-form.form-group
    = f.label :local
    = f.text_field :local, :class => 'form-control'
  .actions
    = f.submit 'Save'
