.container
  .col-md-12
    %h1 Listing spaces
    %table.table.table-striped.table-hover.table-sm.table-responsive
      %thead
        %tr
          %th Id
          %th Title
          %th Name
          %th Published
          %th Avatar
          %th Local
          %th
          %th
          %th

      %tbody
        - @spaces.each do |space|
          %tr
            %th{:scope => "row"}= space.id
            %td= link_to space.title, user_space_path(space.user, space)
            %td= space.name
            %td= space.published
            %td= space.avatar
            %td= space.local
            %td= link_to 'Edit', edit_user_space_path(space.user, space), :'data-turbolinks' => "false"

    %br

    = link_to 'New Space', new_user_space_path, :class => 'btn btn-primary', :'data-turbolinks' => "false"
