.container
  .col-md-12
    %h1 Listing spaces
    %table.table.table-striped.table-hover.table-sm.table-responsive
      %thead
        %tr
          %th Id
          %th Title
          %th Name
          %th Description
          %th Published
          %th Content
          %th Avatar
          %th Lat
          %th Long
          %th Local
          %th
          %th
          %th

      %tbody
        - @spaces.each do |space|
          %tr
            %th{:scope => "row"}= space.id
            %td= space.title
            %td= space.name
            %td= space.description
            %td= space.published
            %td= space.content
            %td= space.avatar
            %td= space.lat
            %td= space.long
            %td= space.local
            %td= link_to 'Show', '/@/' + space.user_id.to_s + '/spaces/' + space.id.to_s
            %td= link_to 'Edit', edit_space_path(space)
            %td= link_to 'Destroy', space, method: :delete, data: { confirm: 'Are you sure?' }

    %br

    = link_to 'New Space', new_space_path
