.container
  .row
    .col-md-12
      %p#notice= notice
      %h1=@space.title
  .row
    .col-md-12
      %ul.list-inline
        %li.list-inline-item
          %p
            %b= I18n.t(:views)
            = ":"
            = @space.impressionist_count
        %li.list-inline-item
          %p
            %b= I18n.t(:visitors)
            = ":"
            = @space.impressionist_count(:filter=>:session_hash)
        %li.list-inline-item
          %p
            %b{data: {action: 'votes'}}= I18n.t(:votes, :value => @space.votes_for.size)
        %li.list-inline-item
          %p
            %b= I18n.t(:likes)
            = ":"
            = @space.get_upvotes.size
        %li.list-inline-item
          %p
            %b= I18n.t(:dislikes)
            = ":"
            = @space.get_downvotes.size
        %li.list-inline-item
          = link_to @space.user.name, user_url(@space.user)
  .row
    - if @space.avatar.present?
      .col-md-6.col-sm-12
        = @space.avatar
      .col-md-6.col-sm-12
        %p
          = @space.description
    - else
      .col-md-12.col-sm-12
        %p
          = @space.description
  .row
    .col-md-12
      .relative-content
        = @space.content.html_safe if @space.content?
  .row
    .col-md-12
      %h2 Location
      %h3= @space.local
  .row
    .col-md-12
      %table.table
        - @space.polls.each do |poll|
          %tr
            %th{:scope => "row"}= poll.id
            %td= link_to poll.title, user_space_poll_path(poll.space.user, poll.space, poll)
            %td= poll.name
            - if current_user.try(:admin?)
              %td= link_to 'Edit', edit_space_path(poll), :'data-turbolinks' => "false"
              %td= link_to 'Destroy', poll, method: :delete, data: { confirm: 'Are you sure?' }
      - if current_user
        - if current_user.first.liked? @space
          = link_to 'Unlike', unlike_user_space_path(@space), method: :put, remote: true, class: 'unlike_post btn btn-link'
        - else
          = link_to 'Like', like_user_space_path(@space), method: :put, remote: true, class: 'like_post btn btn-link'
        \|
        = link_to 'Edit', edit_space_path(@space), :'data-turbolinks' => "false", class: 'btn btn-link'
        \|
      = link_to 'Back', user_path(@space.user), class: 'btn btn-link'
