.row
  .col-md-12
    - if @user.email && (current_user.first.role == 'admin')
      %h3
        = I18n.t(:email)
        = ":"
        = @user.email
    - if @user.email
      %h3
        = I18n.t(:name)
        = ":"
        = @user.name
.row
  .col-md-12
    %h4
      = I18n.t(:views)
      = ":"
      = @user.impressionist_count
.row
  .col-md-12
    %h4
      = I18n.t(:visitors)
      = ":"
      = @user.impressionist_count(:filter=>:session_hash)
.row
  .col-md-12
    %table
      - @user.spaces.each do |space|
        %tr
          %th{:scope => "row"}= space.id
          %td= link_to space.title, '/@/' + space.user_id.to_s + '/spaces/' + space.id.to_s
          %td= space.name
          %td= space.published
          %td= space.avatar
          %td= space.local
          %td= link_to 'Edit', edit_space_path(space), :'data-turbolinks' => "false"
          %td= link_to 'Destroy', space, method: :delete, data: { confirm: 'Are you sure?' }

