%h1 Listing polls

%table
  %thead
    %tr
      %th Title
      %th Name
      %th Space
      %th Description
      %th Content
      %th Author
      %th
      %th
      %th

  %tbody
    - @polls.each do |poll|
      %tr
        %td= poll.title
        %td= poll.name
        %td= poll.space
        %td= poll.description
        %td= poll.content
        %td= poll.author
        %td= link_to 'Show', poll
        %td= link_to 'Edit', edit_poll_path(poll)
        %td= link_to 'Destroy', poll, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Poll', new_poll_path
