.container
  .row
    .col-md-12
      %p#notice= notice
  .row
    .col-md-12

      %p
        %b Title:
        = @poll.title
      %p
        %b Name:
        = @poll.name
      %p
        %b Space:
        = link_to @poll.space.title, user_space_url(@poll, @poll.space)
      %p
        %b
          = I18n.t(:views)
          = ":"
          = @poll.impressionist_count
      %p
        %b
          = I18n.t(:visitors)
          = ":"
          = @poll.impressionist_count(:filter=>:session_hash)
      %p
        %b= I18n.t(:votes)
        = ":"
        = @poll.votes_for.size
      %p
        %b= I18n.t(:likes)
        = ":"
        = @poll.get_upvotes.size
      %p
        %b= I18n.t(:dislikes)
        = ":"
        = @poll.get_downvotes.size
      %p
        %b Description:
        = @poll.description
      %p
        %b Content:
        = @poll.content
      %p
        %b Author:
        = @poll.author

      = link_to 'Edit', edit_poll_path(@poll), class: "btn btn-link"
      \|
      = link_to 'Back', user_space_path(@poll.space.user, @poll.space), class: "btn btn-link"
