.container
  .row
    .col-md-12
      %h1 Listing media

      %table
        %thead
          %tr
            %th Title
            %th Name
            %th Description
            %th Author
            %th Url
            %th Space
            %th
            %th
            %th

        %tbody
          - @media.each do |medium|
            %tr
              %td= medium.title
              %td= medium.name
              %td= medium.description
              %td= medium.author
              %td= medium.url
              %td= medium.space
              %td= link_to 'Show', user_space_medium_path(current_user, medium.space, medium)
              %td= link_to 'Edit', edit_user_space_medium_path(current_user, medium.space, medium), :'data-turbolinks' => "false"
              %td= link_to 'Destroy', user_space_medium_path(current_user, medium.space, medium), method: :delete, data: { confirm: 'Are you sure?' }

      %br

      = link_to 'New Medium', new_user_space_medium_path, :'data-turbolinks' => "false"
